<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Why Choose Arrow Striping?</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <h3>First impresions count</h3>
          <div class="wow bounceIn text-primary" data-wow-delay=".1s">
            <p class="text-muted">
              Well-maintained, clear, and professional-looking lines create a
              strong first impression for your business. They
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <h3>Quality Lines</h3>
          <div class="wow bounceIn text-primary" data-wow-delay=".1s">
            <p class="text-muted">
              Precision and durability are our priorities. Our expertly painted
              lines ensure clarity and longevity, meeting the highest industry
              standards.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
         
          <h3>Honest pricing</h3>
          <div class="wow bounceIn text-primary" data-wow-delay=".1s">
            <p class="text-muted">
              We believe in transparency and fairness, which is why we have our
              prices listed on our website
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box"></div>
          <h3>Reliable Service</h3>
          <div class="wow bounceIn text-primary" data-wow-delay=".1s">
            <p class="text-muted">
              We understand the importance of staying on schedule and are
              committed to completing projects efficiently without compromising
              quality.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
